<!DOCTYPE html>
<html lang="en">
        <!-- Name: Jaskirat Singh          Student number:301274619 -->
<link rel = "icon" href = "/images/J.jpg" type = "image/x-icon">
<link rel="stylesheet" href="/Content/style.css">
    <body>
        <header>
         <u>Express Portfolio Site</u>
         <img src="/IMAGES/J.jpg" alt="icon" width="60pt" height="60pt">
        </header> 
        <HR>  
        <NAV>                     
            <a href="/home">Home</a>&nbsp;&nbsp;&nbsp;
            <a href="/about";>About me</a>&nbsp;&nbsp;&nbsp;
            <a href="/projects";>Project Page</a>&nbsp;&nbsp;&nbsp;
            <a href="/services";>Services Page</a>&nbsp;&nbsp;&nbsp;
            <a href="/contacts">Contact Me</a>&nbsp;&nbsp;&nbsp;
            <a href="/login">Login</a>&nbsp;&nbsp;&nbsp;
           </NAV>
           <hr>
            <Div class="C">
        <fieldset>
          <legend>About ME</legend>
          <img class="D" src="/Images/Jas.jpg" alt="Jaskirat" style="float:right;" width="30%" height="30%">
            <i style="color:rgb(26, 154, 239) ;">
              Jaskirat Singh
            </i>
             <br>
          <p style="font-size:25px;">
            Welcome to my portfolio! I am a passionate and dedicated software engineering student with a strong inclination towards crafting innovative solutions and creating meaningful impact through technology. With a solid foundation in programming languages and frameworks, coupled with a keen eye for detail, I strive to develop robust and scalable software applications. Exploring the realms of software development, I am constantly seeking new challenges to expand my knowledge and sharpen my skills. 
          <br>
            Email address: jsin1598@my.centennialcollege.ca
            <br>
          Contact number: 4372584855
          </p>
        </fieldset>
      </Div>
</body>  
<hr>  
<footer>
    <p><a href="mailto:jsin1598@my.centennialcollege.ca">Email:jsin1598@my.centennialcollege.ca</a></p>
    Copyright&copy &nbsp; Name: Jaskirat Singh, Student number:301274619 
    <img src="../Images/footer-art.svg" alt="footer">
  </footer> 
</html>
