<!DOCTYPE html>
<html lang="en">
        <!-- Name: Jaskirat Singh          Student number:301274619 -->
<link rel = "icon" href = "/images/J.jpg" type = "image/x-icon">
<link rel="stylesheet" href="/Content/style.css">
    <body>
        <header>
         <u>Express Portfolio Site</u>
         <img src="/images/J.jpg" alt="icon" width="60pt" height="60pt">
        </header> 
        <HR>  
        <NAV>                     
            <a href="/home">Home</a>&nbsp;&nbsp;&nbsp;
            <a href="/about";>About me</a>&nbsp;&nbsp;&nbsp;
            <a href="/projects";>Project Page</a>&nbsp;&nbsp;&nbsp;
            <a href="/services";>Services Page</a>&nbsp;&nbsp;&nbsp;
            <a href="/contacts">Contact Me</a>&nbsp;&nbsp;&nbsp;
            <a href="/login">Login</a>&nbsp;&nbsp;&nbsp;
           </NAV>
           <hr>
<div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>
<footer>
    <p><a href="mailto:jsin1598@my.centennialcollege.ca">Email:jsin1598@my.centennialcollege.ca</a></p>
    Copyright&copy &nbsp; Name: Jaskirat Singh, Student number:301274619 
    <img src="../images/footer-art.svg" alt="footer">
  </footer> 
  </html>  
