<!DOCTYPE html>
<html lang="en">
        <!-- Name: Jaskirat Singh          Student number:301274619 -->
<link rel = "icon" href = "/images/J.jpg" type = "image/x-icon">
<link rel="stylesheet" href="/Content/style.css">
    <body>
        <header>
         <u>Express Portfolio Site</u>
         <img src="/IMAGES/J.jpg" alt="icon" width="60pt" height="60pt">
        </header> 
        <HR>  
        <NAV>                     
            <a href="/home">Home</a>&nbsp;&nbsp;&nbsp;
            <a href="/about";>About me</a>&nbsp;&nbsp;&nbsp;
            <a href="/projects";>Project Page</a>&nbsp;&nbsp;&nbsp;
            <a href="/services";>Services Page</a>&nbsp;&nbsp;&nbsp;
            <a href="/contacts">Contact Me</a>&nbsp;&nbsp;&nbsp;
            <a href="/login">Login</a>&nbsp;&nbsp;&nbsp;
           </NAV>
           <hr>
<main class="flex-shrink-0">
      <div class="container mt-4 mb-2" style="box-shadow: 1px 1px 5px 3px rgb(244, 245, 247); background-color: rgb(234, 237, 243);">
        <div class="row" style="height: 100%;" >
  <!-- Main Content -->
  
      <h1>Jaskirat Singh</h1>
    </div>
  </main>
</body>
<footer>
  <p><a href="mailto:jsin1598@my.centennialcollege.ca">Email:jsin1598@my.centennialcollege.ca</a></p>
  Copyright&copy &nbsp; Name: Jaskirat Singh, Student number:301274619 
  <img src="../Images/footer-art.svg" alt="footer">
</footer> 
</html>  


  




