<!DOCTYPE html>
<html lang="en">
        <!-- Name: Jaskirat Singh          Student number:301274619 -->
<link rel = "icon" href = "/images/J.jpg" type = "image/x-icon">
<link rel="stylesheet" href="/Content/style.css">
    <body>
        <header>
         <u>Express Portfolio Site</u>
         <img src="/images/J.jpg" alt="icon" width="60pt" height="60pt">
        </header> 
        <HR>  
        <NAV>                     
            <a href="/home">Home</a>&nbsp;&nbsp;&nbsp;
            <a href="/about";>About me</a>&nbsp;&nbsp;&nbsp;
            <a href="/projects";>Project Page</a>&nbsp;&nbsp;&nbsp;
            <a href="/services";>Services Page</a>&nbsp;&nbsp;&nbsp;
            <a href="/contacts">Contact Me</a>&nbsp;&nbsp;&nbsp;
            <a href="/login">Login</a>&nbsp;&nbsp;&nbsp;
           </NAV>
           <hr>
           <hr>
           <div class="Z">
           <fieldset>
           <legend>Project 1</legend>
           <div class="container" >
             <img src="/images/project1.jpg " style="width: 70%; height: auto;"  alt="Image 1">
             <p>The real estate website project aims to create a user-friendly and comprehensive platform for individuals to search, buy, sell, and rent properties. The website will serve as a central hub for real estate listings, providing users with a seamless experience and access to relevant information about properties and real estate agents.
                Features and Functionality:
    The real estate website will include the following features:
    
    Property Search: Users can search for properties based on criteria such as location, price range, property type, and amenities.
    Property Listings: The website will display detailed information about each property, including descriptions, images, floor plans, and contact details of property owners/agents.
    User Registration and Login: Users can create accounts, save favorite listings, and receive personalized recommendations.
             </p>
           </div>
         </fieldset>
       
         <fieldset>
           <legend>Project 2</legend>
           <div class="container">
             <img src="/images/project2.webp" style="width: 70%; height: auto;" alt="Image 2">
             <p>The goal of the Protecting Wildlife Website is to raise awareness about wildlife conservation, educate the public on the importance of protecting endangered species, and provide resources for individuals and organizations to get involved in wildlife protection efforts. The website aims to be informative, engaging, and user-friendly, catering to a wide range of audiences interested in wildlife conservation.</p>
           </div>
         </fieldset>
       
         <fieldset>
           <legend>Project 3</legend>
           <div class="container">
             <img src="/images/project3.jpg" style="width: 70%; height: auto;" alt="Image 3">
             <p>The purpose of this project is to develop a website template website that offers a wide range of pre-designed website templates for various industries and purposes. The website will serve as a platform for users to browse, preview, and purchase website templates to meet their specific needs. The primary goal is to provide a user-friendly interface and a vast selection of high-quality templates to cater to different business sectors.</p>
           </div>
         </fieldset>
        </div>
    </body>
    <hr>
    <footer>
        <p><a href="mailto:jsin1598@my.centennialcollege.ca">Email:jsin1598@my.centennialcollege.ca</a></p>
        Copyright&copy &nbsp; Name: Jaskirat Singh, Student number:301274619 
        <img src="../images/footer-art.svg" alt="footer">
      </footer> 
    </html>